nav {
    display: flex;
    justify-content: center
}

h1 {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 80px;
    background-color: #131921;
    color: #fff;
    margin: 0;
    padding-left: 25px
}

h3 {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 50px;
    background-color: #232F3E;
    color: #fff;
    margin: 0
}

.animate-charcter {
    text-transform: lowercase;
    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: cover;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif
}

@keyframes textclip {
    to {
        background-position: 200% center
    }
}

.center {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    line-height: 20px;
    background-size: 500px, 70%;
    background-image: linear-gradient(180deg, #DBECD9, #E3E6E6);
    margin: 0;
    width: 90%;
    height: 1000px;
    padding: 20px
}

section {
    border-top: 1px solid #bbb;
    justify-content: right
}

.about-section {
    width: 1000px;
    display: flex;
    align-items: top
}

.center-box {
    display: flex;
    align-items: center;
    justify-content: center
}

footer {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 80px;
    background-color: #131921;
    color: #fff;
    margin: 0;
    padding-left: 25px
}

img {
    border: 1px solid #131921
}