nav {
    display: flex;
    justify-content: center
}

h1 {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 3vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 6vw;
    background-color: #131921;
    color: #fff;
    margin: 0;
    padding-left: 2vw
}

h3 {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 4vw;
    background-color: #232F3E;
    color: #fff;
    margin: 0
}

.animate-charcter {
    text-transform: lowercase;
    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: cover;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s reverse infinite;

    display: inline-block;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif
}

@keyframes textclip {
    to {
        background-position: 200% center
    }
}

.center {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    background-size: 5vw, 70%;
    background-image: linear-gradient(180deg, #DBECD9, #E3E6E6);
    margin: 0;
    width: 90%;
    height: 80%;
    padding: 2vw
}

section {
    border-top: .1vw solid #bbb;
    justify-content: right
}

.about-section {
    width: 98%;
    display: flex;
    align-items: top;
    float: left;
}

p {
    padding-left: 1%;
    text-justify: distribute;
}

.center-box {
    display: flex;
    align-items: stretch;
    justify-content: center
}

footer {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 11vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    line-height: 4vw;
    background-color: #131921;
    color: #fff;
    margin: 0;
    padding-left: 25px
}

.about-img {
    width: 250px;
    height: auto;
}

.portfolio-img {
    height: auto;
    width: 20%;
}